<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />

<header id="overview" class="subhead">
  <div class="container">
    <h1>Backbone list lib</h1>
    <p class="lead">Библиотека пользовательских компонент для для фреймворка Backbone.</p>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="span3  bs-docs-sidebar">

      <ul class="nav nav-list bs-docs-sidenav">
        <li><a href="#about">О проекте<i class="icon-chevron-right"></i></a></li>
        <li><a href="#base">Базовый список<i class="icon-chevron-right"></i></a></li>

        <li><a href="#mixin2">Удаляемые<i class="icon-chevron-right"></i></a></li>
        <li><a href="#mixin3">Drag and Drop<i class="icon-chevron-right"></i></a></li>
        <li><a href="#mixin5">Редактируемые<i class="icon-chevron-right"></i></a></li>
        <li><a href="#mixin8">Выбор действия<i class="icon-chevron-right"></i></a></li>
        <li><a href="#mixin6">Подсписки<i class="icon-chevron-right"></i></a></li>
        <li><a href="#mixin">Примешивание<i class="icon-chevron-right"></i></a></li>

        <li><a href="#mixin7">Комбин. функ.<i class="icon-chevron-right"></i></a></li>

        <li><a href="#mixin9">Живой поиск<i class="icon-chevron-right"></i></a></li>
        <li><a href="#mixin10">Переключатель<i class="icon-chevron-right"></i></a></li>
        <li><a href="#mixin11">Datapicker<i class="icon-chevron-right"></i></a></li>
        <li><a href="#mixin12">Добавление<i class="icon-chevron-right"></i></a></li>
        <li><a href="#mixin13">Форма ввода<i class="icon-chevron-right"></i></a></li>
      </ul>
    </div>
    <div class="span9">
    <%=render 'partial_0'%>
    <%=render 'partial_1'%>
    <%=render 'partial_2'%>
    <%=render 'partial_3'%>
    <%=render 'partial_4'%>
    <%=render 'partial_5'%>
      <section id="mixin6">
        <div class="page-header">
          <h1>Button groups</h1>
          dfvdfvfdv
          <br>
          edfgefdg
          <br>
          sdfgsd
          dfvdfvfdv
          <br>
          edfgefdg
          <br>
        </div>
      </section>
      <section id="mixin">
        <div class="page-header">
          <h1>Примешивание</h1>

        </div>
      </section>
      <section id="mixin7">
        <div class="page-header">
          <h1>Button groups</h1>
          dfvdfvfdv
          <br>
          edfgefdg
          <br>
          sdfgsd
          dfvdfvfdv
          <br>
          edfgefdg
          <br>
        </div>
      </section>
      <section id="mixin9">
        <div class="page-header">
          <h1>Живой поиск</h1>
        </div>


        <h3>Класс живого поиска</h3>
  <pre>
  BackList.Views.Filter = Backbone.View
    .extend(BackList.Mixins.init)//миксин модуля наследования
    .extend({
        template:JST['module/filter'],// шаблон
        timer:0,// переменная таймера
        events:{
            "keyup .js-filter":'filter',// навесил обработчик ввода
            "click .js-button-click":'Timer'// клик на кнопку немедленног запроса
        },
        initialize:function (options) {
            this.proto();
            this.render();

        },
        render:function () {
            this.collection.setFilter(this.model.name,this.model.value)// установка в коллекцию фильтра
            var item = this.options.model || {};
            var template = $(this.template({data:item}))
            this.copyAttr(template, this.$el)
            this.$el.html(template.html()) //здесь уже отрисован шаблон на странице
            return this;
        },
        // метод копирования атрибутов с корня элемента шаблона
        // на элемент страницы на которую он встраивается
        copyAttr:function (from, to) {
            var attributes = from.get(0).attributes
            var attr = {};
            _.each(attributes, function (item) {
                attr[item.nodeName] = item.value;
            }, this)
            to.attr(attr)
        },
//принудительная отправка запроска к серверу
// сбрасывается таймер
        Timer:function () {
            this.collection.fetch();
            clearTimeout(this.timer)
        },
//обработка на нажатие клавиш
//ставит таймер если следующее нажатие менее чем за 0.5 сек то предыдущий
// сбрасывается и ставиться новый
        filter:function (a) {
            var val = this.$('.js-filter');
            this.collection.setFilter(val.attr('name'),val.val());
            var $context = this;
            clearTimeout(this.timer)
            this.timer = setTimeout(function () {
                $context.Timer()
            }, 500)
            if (val.val().length >= 6 || val.val().length == 0) {

                this.collection.fetch();
                clearTimeout(this.timer)
            }
        }


    });
  </pre>


        <h3>Вызов</h3>
        <pre>
var collection = new TiragSales.Collections.Users([{id:1,name : 'Kita'},{id:2,name : 'Kita'},{id:3,name : 'Kita'}],{url : 'users'})
new BackList.Views.Filter({el: $('#item_21').get(0),model: {name:'filter2',value:'123'}, collection: collection})
new TiragSales.Views.Users({el: $('#list_13').get(0), collection : collection})
new BackList.Views.Filter({el: $('#item_22').get(0),model: {name:'filter1',value:''}, collection: collection});
        </pre>
        <script type="text/javascript">
            $(function(){
                var collection = new TiragSales.Collections.Users([{id:1,name : 'Kita'},{id:2,name : 'Kita'},{id:3,name : 'Kita'}],{url : 'users'})
                new TiragSales.Views.Users({el: $('#list_13').get(0), collection : collection})
                new BackList.Views.Filter({el: $('#item_21').get(0),model: {name:'filter2',value:'123'}, collection: collection})
                new BackList.Views.Filter({el: $('#item_22').get(0),model: {name:'filter1',value:''}, collection: collection});


            })

        </script>
        <h3>Пример</h3>
        <div id="item_21"></div>
        <div id="item_22"></div>
        <table class="table-bordered table" id="list_13">

        </table>
      </section>
      <section id="mixin10">
        <div class="page-header">
            <h1>Выбор категории</h1>
          </div>
          <h3>Вызов</h3>
        <pre>
    var collection = new TiragSales.Collections.Users([{id:1,name : 'Kita'},{id:2,name : 'Kita'},{id:3,name : 'Kita'}],{url : 'users'})
    new TiragSales.Views.Users({el: $('#list_1').get(0), collection : collection})
    new BackList.Views.Checked({el: $('#item_16').get(0),model:{type: 'checkbox',name:'filter1', items: [{value:'1',title:'1'},{value:'2',title:'2'}]}, collection: collection})
    new BackList.Views.Checked({el: $('#item_17').get(0),model:{type: 'radiobox',name:'filter2', items: [{value:'1',title:'1'},{value:'2',title:'2'}]}, collection: collection})
    new BackList.Views.Checked({el: $('#item_18').get(0),model:{type: 'checkbox',name:'filter3', items: [{value:'1',title:'1'},{value:'2',title:'2'},{value:'3',active: true,title:'3'}]}, collection: collection})
        </pre>
          <script type="text/javascript">
              $(function(){
                  var collection = new TiragSales.Collections.Users([{id:1,name : 'Kita'},{id:2,name : 'Kita'},{id:3,name : 'Kita'}],{url : 'users'})
                  new TiragSales.Views.Users({el: $('#list_12').get(0), collection : collection})
                  new BackList.Views.Checked({el: $('#item_16').get(0),model:{type: 'checkbox',name:'filter1', items: [{value:'1',title:'1'},{value:'2',title:'2'}]}, collection: collection})
                  new BackList.Views.Checked({el: $('#item_17').get(0),model:{type: 'radiobox',name:'filter2', items: [{value:'1',title:'1'},{value:'2',title:'2'}]}, collection: collection})
                  new BackList.Views.Checked({el: $('#item_18').get(0),model:{type: 'checkbox',name:'filter3', items: [{value:'1',active: true,title:'1'},{value:'2',title:'2'},{value:'3',active: true,title:'3'}]}, collection: collection})


              })

          </script>
          <h3>Пример</h3>
          <div id="item_16"></div>
          <div id="item_17"></div>
          <div id="item_18"></div>
          <div id="item_19"></div>
          <div id="item_20"></div>
          <table class="table-bordered table" id="list_12">

          </table>
      </section>
      <section id="mixin11">
        <div class="page-header">
          <h1>Datapicker</h1>
        </div>

        <h3>Вызов</h3>
        <pre>
  var collection = new TiragSales.Collections.Users([{id:1,name : 'Kita'},{id:2,name : 'Kita'},{id:3,name : 'Kita'}],{url : 'users'})
  new TiragSales.Views.UsersWithModal({el: $('#list_11').get(0), collection : collection})
  new BackList.Views.FilterDate({el: $('#item_11').get(0),model: {name:'date_to',value:''}, collection: collection})
  new BackList.Views.FilterDate({el: $('#item_12').get(0),model: {name:'date_from',value:''}, collection: collection})
  new BackList.Views.Modal({el: $('#item_14').get(0),model : {title : "Количество"},template:JST['users/modal'], collection: collection})
  new BackList.Views.FilterDate({el: $('#item_13').get(0),model: {name:'date',value:'29.01.2013'},template:JST['users/add_item_body'], collection: collection})

        </pre>
        <script type="text/javascript">
            $(function(){
                var collection = new TiragSales.Collections.Users([{id:1,name : 'Kita'},{id:2,name : 'Kita'},{id:3,name : 'Kita'}],{url : 'users'})
                new TiragSales.Views.UsersWithModal({el: $('#list_11').get(0), collection : collection})
                new BackList.Views.FilterDate({el: $('#item_11').get(0),model: {name:'date_to',value:''}, collection: collection})
                new BackList.Views.FilterDate({el: $('#item_12').get(0),model: {name:'date_from',value:''}, collection: collection})
                new BackList.Views.Modal({el: $('#item_14').get(0),model : {title : "Количество"},template:JST['users/modal'], collection: collection})
                new BackList.Views.FilterDate({el: $('#item_13').get(0),model: {name:'date',value:'29.01.2013'},template:JST['users/add_item_body'], collection: collection})


            })

        </script>
        <h3>Пример</h3>
        <div id="item_11"></div>
        <div id="item_12"></div>
        <div id="item_13"></div>
        <table class="table-bordered table" id="list_11">

        </table>
      </section>
      <section id="mixin12">
        <div class="page-header">
          <h1>Button groups</h1>
          dfvdfvfdv
          <br>
          edfgefdg
          <br>
          sdfgsd
          dfvdfvfdv
          <br>
          edfgefdg
          <br>
        </div>
      </section>
      <section id="mixin13">
        <div class="page-header">
          <h1>Button groups</h1>
          dfvdfvfdv
          <br>
          edfgefdg
          <br>
          sdfgsd
          dfvdfvfdv
          <br>
          edfgefdg
          <br>
        </div>
      </section>
    </div>
  </div>

</div>
<footer class="footer">
  <div class="container">
    <p>Designed and built with all the love in the world by <a target="_blank" href="http://twitter.com/mdo">@mdo</a> and <a target="_blank" href="http://twitter.com/fat">@fat</a>.</p>
    <p>Code licensed under <a target="_blank" href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
    <p><a href="http://glyphicons.com">Glyphicons Free</a> licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
    <ul class="footer-links">
      <li><a href="http://blog.getbootstrap.com">Blog</a></li>
      <li class="muted">·</li>
      <li><a href="https://github.com/twitter/bootstrap/issues?state=open">Issues</a></li>
      <li class="muted">·</li>
      <li><a href="https://github.com/twitter/bootstrap/wiki">Roadmap and changelog</a></li>
    </ul>
  </div>
</footer>

